{% extends "header.html" %}
{% block content %}
<div class="card mx-3 p-3">
    <img src="{{ product.image.url }}" alt="shoe" class="card-img-top">
    <h2 class="">{{ product.name }}</h2>
    <h3>$ {{ product.price }}</h3>
    <span class="">{{ product.description }}</span>
    <div class="button-block">
        {% if user.is_authenticated %}
        <a class="btn btn-outline-primary rounded-pill" href="{% url 'add_to_favourites' product.id %}">Добавить в избранное</a>
        <a class="btn btn-outline-success rounded-pill" href="{% url 'add_to_cart' product.id %}">Добавить в корзину</a>
        {% else %}
        <a class="btn btn-outline-success rounded-pill" href="{% url 'login' %}">Авторизуйтесь чтобы заказать</a>
        {% endif %}
    </div>
    <hr>
    <div class="comments-section">
        <h3>Комментарии:</h3>
        {% if user.is_authenticated %}
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit">Добавить комментарий</button>
            </form>
            {% if comments %}
            <ul>
                {% for comment in comments %}
                    <li>
                        <strong>{{ comment.user.username }}</strong> - {{ comment.created_at|date:"d.m.Y H:i" }}:
                        <p>{{ comment.text }}</p>
                        {% if user.is_staff %}
                            <form action="{% url 'delete_comment' comment.id %}" method="post" style="display:inline;">
                                {% csrf_token %}
                                <button type="submit" class="btn btn-danger btn-sm">Удалить</button>
                            </form>
                        {% endif %}
                    </li>
                {% endfor %}
            </ul>
            {% else %}
                <p>Нет комментариев.</p>
            {% endif %}
        {% else %}
            <p><a href="{% url 'login' %}">Войдите</a> или <a href="{% url 'register' %}">зарегистрируйтесь</a> чтобы оставить комментарий.</p>
        {% endif %}
</div>

{% endblock %}